<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Admin</title>
</head>
<body>
    <h1>Ini halaman admin</h1>
    <button><a href="/" style="text-decoration: none;">Kembali</a></button>
    <button><a href="/buku">Buku</a></button>
    <button><a href="/petugas">petugas</a></button>
    <button><a href="/peminjaman">peminjaman</a></button>
    <button><a href="/peminjam">peminjam</a></button>
</body>
</html>