{% extends 'base.html' %}

{% block content %}
<header>
    <h1>Daftar Petugas</h1>
    <button onclick="window.location.href='/'">Kembali</button>
    <br><br>
    <button onclick="window.location.href='/admin_peminjaman'">Peminjaman</button>
    <button onclick="window.location.href='/daftar_buku'">Daftar Buku</button>
    <button onclick="window.location.href='/daftar_akun_user'">Akun User</button>
</header>
<main>
    <table style="border-collapse: collapse; width: 100%; margin: 20px 0; border: 1px solid black;">
        <thead>
            <tr>
                <th style="border: 1px solid black; text-align: left; padding: 8px; background-color: #f2f2f2;">No</th>
                <th style="border: 1px solid black; text-align: left; padding: 8px; background-color: #f2f2f2;">Nama Petugas</th>
                <th style="border: 1px solid black; text-align: left; padding: 8px; background-color: #f2f2f2;">Password</th>
            </tr>
        </thead>
        <tbody>
            {% for petugas in petugas_list %}
                <tr>
                    <td style="border: 1px solid black; text-align: left; padding: 8px;">{{ loop.index }}</td>
                    <td style="border: 1px solid black; text-align: left; padding: 8px;">{{ petugas[1] }}</td> <!-- nama_petugas -->
                    <td style="border: 1px solid black; text-align: left; padding: 8px;">{{ petugas[2] }}</td> <!-- password -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <!-- <button><a href="/tambah_petugas" style="text-decoration: none;">Tambah Petugas</a></button> -->
    <button onclick="window.location.href='/tambah_petugas'">Tambah Petugas</button>
</main>
{% endblock %}
