{% extends 'base.html' %}

{% block content %}
<h1>Tambah Buku</h1>
<form action="{{ url_for('tambah_buku') }}" method="POST">
    <label for="judul_buku">Judul Buku:</label><br>
    <input type="text" id="judul_buku" name="judul_buku" required><br><br>

    <label for="genre">Genre:</label><br>
    <input type="text" id="genre" name="genre" required><br><br>

    <button type="submit">Tambah</button>
    <button><a href="{{ url_for('daftar_buku') }}" style="text-decoration: none;">Batal</a></button>
</form>
{% endblock %}
