{% extends 'base.html' %}

{% block content %}
<header>
    <h1>Tambah Petugas</h1>
    <button><a href="/petugas" style="text-decoration: none;">Kembali</a></button>
</header>
<main>
    <form method="POST">
        <label for="nama_petugas">Nama Petugas:</label><br>
        <input type="text" id="nama_petugas" name="nama_petugas" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Tambah Petugas</button>
        <button onclick="window.location.href='/petugas'">Batal</button>
    </form>
</main>
{% endblock %}
