<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman User</title>
</head>
<body>
    <h1>Ini halaman user</h1>
    <button><a href="/" style="text-decoration: none;">Kembali</a></button>
    <section class="Display Daftar Buku">
        <h3>Daftar Buku</h3>
        <ul>
            <li>Buku 1</li>
            <li>Buku 2</li>
            <li>Buku 3</li>
        </ul>
    </section>
    <button><a href="pinjam_buku">Pinjam Buku</a></button>
</body>
</html>